<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    {% block stylesheet %} {% endblock %}
    </head>
<body>
    {% load static %}
    <header class="header">
        <nav class="nav-menu">
            <a href="{% url 'main:index' %}">Магазин</a>
            {% if user.is_superuser %}<a href="{% url 'messenger:admin_chat' %}">Чат/Помощь</a> {% else %}<a href="{% url 'messenger:chat_view' %}">Чат/Помощь</a> {% endif %}

        </nav>
        <div class="profile-buttons">
            {% if user.is_authenticated %}
                <div class="logos">
                <a href="{% url 'main:profile' %}"><img class="cartlogo" src="{% static 'images/profile.png' %}"></a>
                <a href="{% url 'main:cart' %}"><img class="cartlogo" src="{% static 'images/shopping-cart.png' %}"></a></div>
                <form action="{% url 'registration:logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="refresh_token" value="{{ refresh_token }}">
                <a class="logoutbut" href="{% url 'registration:logout' %}"><button type="submit" class="btn btn-danger">Logout</button></a>
                </form>
            {% else %}
                <a href="#"><img src="{% static 'images/cart.svg' %}"></a>
                <a href="{% url 'registration:login' %}" ><button class="btn btn-primary">Login</button></a>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        @ 2024 Big Company Inc.
    </footer>
</body>
</html>